<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://www.assion.co.jp/wp-content/uploads/2015/03/favicon.ico">

  <title>Assion Code SnippetDB</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

  <!-- Bootstrap core CSS -->
  <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="static/main.css">
  <link rel="stylesheet" type="text/css" href="../../../static/index.css">
</head>


<body>
    <div class="hamburger" id="hamburger" onclick="toggleSidenav();">
  <div></div>
  <div></div>
  <div></div>
</div>

<nav class="header">
  <div class="links">
    <a class="active" href="/snippets">snippetDB</a>
    <a href="/snippets">Database</a>
    <a href="/snippets/javascript"><img class="menu-icon" src="https://www.javatpoint.com/images/javascript/javascript_logo.png">Javascript</a>
    <a href="/snippets/html"><img class="menu-icon" src="https://www.javatpoint.com/htmlpages/images/html-tutorial.png">HTML</a>
    <a href="/snippets/css"><img class="menu-icon" src="https://www.javatpoint.com/csspages/images/css-tutorial.png">CSS</a>
    <a href="/snippets/other"><img class="menu-icon" src="">Other</a>
    <% if(!currentUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Sign Up</a>
          <% } else { %>
          <a class="nav-link" href="/profile"><%= currentUser.username %></a>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
  </div>
</nav>

<div class="main">
  <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
</div>