<% include ./partials/header %> 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style = "background-color: #fff !important;">
    <li class="breadcrumb-item active" aria-current="page">Admin Page</li>
  </ol>
</nav>


Nothing to see here yet.

<span>Currently logged-in users</span>
<br>
<br>
<%= JSON.stringify(sessions) %>

<% include ./partials/footer %> 