<% include ./partials/header %> 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style = "background-color: #fff !important;">
    <li class="breadcrumb-item active" aria-current="page">Admin Page</li>
  </ol>
</nav>


<svg height="250" width="500">
  <polygon points="220,10 300,2 170,250 123,234 155,200 100,100" style="fill:lime;stroke:purple;stroke-width:20" />
</svg>

<span>What is this green shape and what does it do?</span>
<br>
<br>
<%= //JSON.stringify(sessions) %>

<% include ./partials/footer %> 