<% include ./partials/header %> 

<h5 style="margin-left: 37px;">Created Snippets</h5>
<ol style="list-style: none;">
 	<% var categories = ['Javascript', 'CSS', 'HTML', 'Other']; %>
 	<% categories.forEach(function(category) { %>
 		<br>
 		<span ><%= category %></span>
 		<% snippets.forEach(function(snippet){ %>
 			<% if(snippet.category === category) { %>
 			<li>
                   <a href="/snippets/<%= snippet._id %>"><%= snippet.title %></a>
                   <span><%= snippet.main %></span>
               </li>
            <% } %>
               
    	<% }); %>
 	<% }); %>
    
 </ol>
 <br>
 <h5>Favorited Snippets</h5>
 <em><% console.log(foundUser) %></em>
<% include ./partials/footer %> 
