<% include ./partials/header %> 

<div style="text-align: center;">
<form action="/register" method="post" class="form-signin" style="width:30%; margin:0 auto;">
        <h2 class="form-signin-heading">Please Register</h2>
        <label for="inputUser" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUser" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register!">
</form>
</div>

<% include ./partials/footer %> 
