<% include ./partials/testMenuHeader %>

<div style="text-align: left; padding-left: 10px;">
    <ol style="list-style: none;">

        <br>
        <h6>Javascript</h6>

        <li>
            <a href="/snippets/5acb18c372eca81abac192b9">Speech Bubble Text</a>
            <span>Code used for Speech Bubble text test.</span>
        </li>

        <li>
            <a href="/snippets/5aceef38627b464e602318e2">Route for new snippet</a>
            <span>This is code for the router</span>
        </li>

        <li>
            <a href="/snippets/5ad061d00ac83911e1a7bdc3">Class on Order</a>
            <span>Class on Order</span>
        </li>

        <br>
        <h6>CSS</h6>

        <li>
            <a href="/snippets/5ac31ef5f03f42307759c602">Stitched Look</a>
            <span>This is code for giving a stitched border look</span>
        </li>

        <li>
            <a href="/snippets/5ac32a94c2d3373178cb5897">Better Helvetica</a>
            <span>Might as well use the nicest Helvetica you can...</span>
        </li>

        <br>
        <h6>HTML</h6>

        <li>
            <a href="/snippets/5ac426a62c1f243858789f59">From Assion's Homepage</a>
            <span>A small piece from Assion's homepage</span>
        </li>

        <li>
            <a href="/snippets/5ac6db94ad823260cd004eb8">Snippet Code Page</a>
            <span>This is part of the code for the login page.</span>
        </li>

        <li>
            <a href="/snippets/5acec96a2fd5904910c996c1">Create Flash Alert on Page</a>
            <span>This creates a flash alert on the page</span>
        </li>

        <br>
        <h6>Other</h6>

    </ol>
    <a class="btn btn-success" style="margin-left: 5px;" href="/snippets/new">Add New Snippet</a>
</div>
<% include ./partials/testMenuFooter %> 